
<style type="text/css">
    #ProfilePage {
        /* Move it off the top of the page, then centre it horizontally */
        margin: 50px auto;
        width: 700px;
        /* For visibility. Delete me */
        border: 5px solid blue;
    }

    #LeftCol {
        /* Move it to the left */
        float: left;
        width: 200px;
        text-align: center;
        /* Move it away from the content */
        margin-right: 20px;
        margin-left: 20px;
        /* For visibility. Delete me */
       /* border: 1px solid blue;*/
    }

    #Photo {
        /* Width and height of photo container */
        width: 200px;
        height: 200px;
        align-content: center;
        margin-top: 50px;
        margin-left: 50px;
        /* For visibility. Delete me */
        /*border: 1px solid blue;*/
    }

    #PhotoOptions {
        text-align: center;
        width: 200px;
        /* For visibility. Delete me */
        /*border: 1px solid blue;*/
    }

    #Info {
        width: 400px;
        text-align: center;
        /* Move it to the right */
        float: right;
        margin-top: 15px;
        /* For visibility. Delete me */
        /* border: 1px solid blue;*/
    }

        #Info strong {
            /* Give it a width */
            display: inline-block;
            width: 100px;
            /* For visibility. Delete me */
           /* border: 1px solid blue;*/
        }

        #Info span {
            /* Give it a width */
            display: inline-block;
            width: 250px;
            /* For visibility. Delete me */
            /*border: 1px solid blue;*/
        }
</style>

@model DoctorFlow.Models.UserProfileModel
@{
    ViewBag.Title = "Detail User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo">
            @{
                var imgSrc = "";
                if(Model.Photo != null)
                {
                    var base64 = Convert.ToBase64String(Model.Photo);
                    imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                }
            }
            <img height="200" src="@imgSrc" alt="tio1.jpg"/>
        </div>S
        <div id="ProfileOptions">
        </div>
    </div>

    <div id="Info">
        <p >
            @Html.LabelFor(model => model.UserName):  @Html.DisplayFor(model => model.UserName)
        </p>
        <p>
            @Html.LabelFor(model => model.Name):  @Html.DisplayFor(model => model.Name)
        </p>
        <p>
            @Html.LabelFor(model => model.LastName):  @Html.DisplayFor(model => model.LastName)
        </p>
        <p>
            @Html.LabelFor(model => model.Email):  @Html.DisplayFor(model => model.Email)  
        </p>
        <p>
            @Html.LabelFor(model => model.BirthDate):  @Html.DisplayFor(model => model.BirthDate)
        </p>
        <p>
            @Html.LabelFor(model => model.SocialSecurityNumber):  @Html.DisplayFor(model => model.SocialSecurityNumber)
        </p>
        <p>
            @Html.LabelFor(model => model.Phone):  @Html.DisplayFor(model => model.Phone)
        </p>
        <p>
            @Html.LabelFor(model => model.MaritalStatus):  @Html.DisplayFor(model => model.MaritalStatus)
        </p>
        <p>
            @Html.LabelFor(model => model.Height):  @Html.DisplayFor(model => model.Height)
        </p>
        <p>
            @Html.LabelFor(model => model.BloodType):  @Html.DisplayFor(model => model.BloodType)
        </p>
        <p>
            @Html.LabelFor(model => model.Allergy):  @Html.DisplayFor(model => model.Allergy)
        </p>
        <p>
            @Html.LabelFor(model => model.Address): @Html.DisplayFor(model => model.Address)
        </p>
    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", "Profile") |
    @Html.ActionLink("Deshabilitar", "Disable", "Register") |
    @Html.ActionLink("Inicio", "Index", "Home")
</p>