@model DoctorFlow.Models.UserModels.UserPasswordResetModel
@{
    ViewBag.Title = "Restaurar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="font-family: helvetica">Restaurar Contraseña</h3>
<br/>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        <div>
            @Html.EditorFor(model => model.Email)<br/>
        </div>
        @Html.LabelFor(model => model.PassKey)
        <div>
            @Html.EditorFor(model => model.PassKey)<br/>
        </div>
        @Html.LabelFor(model => model.NewPassword)
        <div>
            @Html.EditorFor(model => model.NewPassword)<br/>
        </div>
        @Html.LabelFor(model => model.ConfirmNewPassword)
        <div>
            @Html.EditorFor(model => model.ConfirmNewPassword)<br/>
        </div>
    </div>
    <div class="col-md-10">
        <input type="submit" value="Restaurar" class="btn btn-success" />
    </div>
    
}