@model DoctorFlow.Models.UserLoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        </div>
        <div class="col-md-12 col-md-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Area de Registro</h3>
                    @Html.ValidationSummary(true)
                </div>
                <div class="panel-body">
                    <div class="avatar"></div>
                    <div class="row">
                        <tr>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailOrUserName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EmailOrUserName)
                                    @Html.ValidationMessageFor(model => model.EmailOrUserName)
                                </div>
                            </div>
                            &nbsp;
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                        </tr>
                        <p align="center">
                            <form method="post" action='@Url.Action("Create","Login")'>
                                
                            </form>

                            <input  type="submit" value="Accept" class="btn btn-default" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</