@model DoctorFlow.Models.UserModels.DoctorRegisterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-5 pull-right col-md-offset-3 ">
    </div>
    <div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title" >Registrarse como Medico</h1>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.UserName)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.UserName)<br/>
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.Name)<br/>
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.LastName)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.LastName)<br/>
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.Password)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.Password)<br/>
                                @Html.ValidationMessageFor(model => model.Password)

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.ConfirmPassword)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.ConfirmPassword)<br/>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.Email)<br/>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.Specialty)
                            </div>
                            <div class="register-item">
                                @Html.EditorFor(model => model.Specialty)<br/>
                                @Html.ValidationMessageFor(model => model.Specialty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="register-item">
                                @Html.LabelFor(model => model.MedicalLicenseNumber)
                            </div>
                            <div class="register-item">
                                @Html.TextBoxFor(model => model.MedicalLicenseNumber)<br/>
                                @Html.ValidationMessageFor(model => model.MedicalLicenseNumber)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="register-item">
                            <input type="submit" value="Registrarse" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
