@using DoctorFlow.Controllers.UserControllers
@model DoctorFlow.Models.UserRegisterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
    <div class="container">
        <div class="row" align="left">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            </div>
            <div class="col-md-12 col-md-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Area de Registro</h3>
                        @Html.ValidationSummary(true)

                    </div>
                    <div class="panel-body">
                        <div class="avatar"></div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            &nbsp;<br/>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            &nbsp;<br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            &nbsp;<br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            &nbsp;<br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ConfirmPassword)
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                            &nbsp;<br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            &nbsp;<br />
                            <div class="form-group">
                                
                                <div class="col-md-offset-2 col-md-10">
                                    <form method="post" action='@Url.Action("Create","Register")'>
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </form>
                                    
                                </div>
                            </div>
                        

                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>

<a class="btn btn-primary" href="@Url.Action("Index","Home")">&lArr; Home </a>